a {
    text-decoration: none;
    color: white;
}
a:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 2px;
    width: 0;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
a:hover:after,
a:focus:after {
    width: 55%;
    position:relative;
    left: 50px;
}
body {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url("../img/bg.svg");
    background-size: 100%;
    color: white;
    height: 488px;
    position: relative;
}
.header__content {
    margin: 0 auto;
    display: flex;
    width: 80%;
}
.header__menu__center {
    display: flex;
    justify-content: center;
}

.header__menu {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.submenu {
    display: flex;
}

.menu__link {
    height: 19px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}


.link {
    display: none;
}

.shape-l {
    position: absolute;
    top: 279px;
    left: 55px;
}

.shape-r {
    position: absolute;
    top: 279px;
    right: 55px;
}

.header__coffee {
    margin: 68px 72px 28px 32px;
}

.header__slide__text {
}

.header__slide__box {
    margin-top: 100px;
}

.header__button {
}
.header__button__text:hover{
    background-color: #6598e6;
}
.header__button__text {
    width: 138px;
    height: 38px;
    background-color: #12b367;
    border: 4px solid rgba(0, 0, 0, 0.37);
    color: white;
}

.content {
    width: 80%;
    margin: 67px auto 0;
}

.content__menu__box {
    display: flex;
}

.content__menu__list {
    flex-grow: 1;
    text-align: center;
    box-shadow: inset 0 -6px 4px -4px rgba(0, 0, 0, .2);
    padding-top: 30px;
}

.content__menu__one:hover {
    box-shadow: 0 -2px 10px -3px #575555;
    background-color: rgba(101,151,229,0.45);
}
.content__menu__two:hover {
    box-shadow: 0 -2px 10px -3px #575555;
    background-color: rgba(251, 206, 10, 0.45);
}
.content__menu__three:hover {
    box-shadow: 0 -2px 10px -3px #575555;
    background-color: rgba(18, 178, 103, 0.45);
}
.content__menu__four:hover {
    box-shadow: 0 -2px 10px -3px #575555;
    background-color: rgba(230, 118, 36, 0.45);
}

.content__menu__text {
    margin: 22px 0 55px 0;
}

.content__menu__filling {
    padding-top: 50px;
    box-shadow: 0 4px 10px 0 rgba(82, 82, 82, 0.43);
    text-align: center;
}

.content__menu__text-up {
    padding-left: 60px;
    padding-bottom: 28px;
    text-align: left;
}

.content__menu__text-two {
    padding: 0 60px 0 60px;
    text-align: justify;
    font-weight: 300;
    line-height: 24px;
}

.content__menu__text-bottom {
    padding-bottom: 50px;
}

.content__menu__text-four {
    padding: 0 60px 15px 60px;
    font-weight: 300;
    line-height: 24px;
}

.content__label {
    margin-right: 3px;
}

.content__list {
    padding-top: 22px;
    display: flex;
    width: 100%;
}

.list {
    width: 640px;
    position: relative;
    right: 68px;
    padding: 0;
}

.content__menu__text-title {
    padding-top: 25px;
    padding-left: 60px;
    padding-bottom: 28px;
    text-align: left;
    font-weight: 300;
}

.content__box {
    display: inline-flex;
    width: 100%;
}

.content__why__box {
    margin-left: -20px;
    display: inline-flex;
    font-height:  15px;
}

.content__why {
    margin-left: 90px;
}

.content__box-form {
    display: flex;
}

.content__form {
    flex-grow: 1;
    padding-top: 75px;
    margin-right: 50px;
    width: 100%;
}

.form__text {
    color: white;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 15px 0;
}

.login__form {
    background-color: #e67624;
    border-radius: 5px;
    width: 470px;
    height: 109px;
}

.botton__login-form {
    width: 94px;
    height: 30px;
    background-color: #444444;
    border: none;
}

.subscribe_form {
    background-color: #01d4f3;
    border-radius: 5px;
    width: 470px;
    height: 109px;
}

.botton__subscribe-form {
    width: 111px;
    height: 30px;
    background-color: #029bb1;
    border: none;

}

.form_line {
    width: 265px;
    height: 26px;
    background-color: #e8e8e8;
    border: none;
}

.form__item {
    margin-left: 20px;
    line-height: 2.3
}

.table__img {

}

.footer {
    margin-top: 35px;
    background-color: #282c28;
}

.footer__menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.footer__menu__box {
    flex-grow: 1;
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 45px;
    line-height: 22px;
    color: #ffffff6e;
}

.footer__list_title {
    color: white;

}

.footer__list_title-nav {
    margin-right: 55px;
}

.footer__list_logo {
    padding-top: 60px;
}

.footer__shape {
    margin-left: 10px;
    width: 16px;
    height: 16px;
    color: white;
}

.author {
    position: relative;
    bottom: -100px;
    color: white;
}

@media screen and (max-width: 920px) {
    body {
        width: 100%;
    }
    a:after {

        height: 0px;

    }
    a:hover:after,
    a:focus:after {

    }

    .header {
        height: 300px;
    }
    .header__logo{
        height: 50px;
        width: 100px;
    }

    .header__content {
        display: inline-flex;
    }

    .header__slide__box {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        text-shadow: 1px 1px 0 black;
    }

    .header__coffee {
        margin: 10px 72px 0 50px;
        width: 150px;
    }

    .header__button {
        margin: 30px;
    }

    .header__button__text {
        width: 175px;
        height: 72px;
        border: 4px solid rgba(0, 0, 0, 0.37);
        background-color: #12b367;
        color: white;
    }

    .header__menu-min {
        display: inline-flex;
    }

    .link {
        display: inline-flex;
    }


    .menu__link {
        height: 19px;
        margin-left: 0;
    }

    ul:after {
        display: block;
        content: ' ';
        clear: both;
        float: none;
    }

    ul.menu > li {
        float: left;
        position: relative;
    }

    ul.menu > li > a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
    }



    ul.submenu {
        display: none;
        position: absolute;
        width: 79px;
        top: -40px;
        right: 200px;
    }

    ul.submenu > li {
        display: inline-flex;
    }

    ul.submenu > li > a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
    }

    ul.submenu > li > a:hover {
        text-decoration: underline;
    }

    ul.menu > li:hover > ul.submenu {
        display: inline-flex;
    }

    .link-min {
        margin-left: 0;
    }

    .header__nav__link-min {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 2px solid white;

    }

    .shape-l-min {
        position: absolute;
        top: 250px;
        left: 20px;
    }

    .shape-r-min {
        position: absolute;
        top: 250px;
        right: 20px;
    }

    .table__img {
        width: 640px;
    }

    .header__slide__text-min {
    }

    .content__menu__list {
        padding-top: 0;
    }

    .footer__menu {
        display: inline-flex;
        width: 100%;
    }

    .content-min {
        width: 95%;
        margin: 20px auto 0 20px;
    }

    .content__box {
        width: 95%;
    }

    form {
        width: 90%;
    }

    .content__why__box {
        display: block;
        font-height:  25px;
    }

    .content__box-form {
        margin-left: 30px;
    }

    .login__form {
        background-color: #e67624;
        border-radius: 5px;
        width: 203px;
        height: 175px;
    }

    .subscribe_form {
        background-color: #01d4f3;
        border-radius: 5px;
        width: 315px;
        height: 175px;
    }

    .list {
        POSITION: relative;
        right: -20px;
    }

    .content__why {
        margin-left: 115px;
    }

    .footer__logo {
        padding-top: 60px;
        display: none;
    }

    .footer__list_title {
        color: white;
    }

    .author {
        display: none;
    }
    .wrapper-menu {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 330ms ease-out;
    }

    .wrapper-menu.open {
        transform: rotate(-45deg);
    }

    .line-menu {
        background-color: #fff;
        border-radius: 5px;
        width: 100%;
        height: 6px;
    }

    .line-menu.half {
        width: 50%;
    }

    .line-menu.start {
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right;
    }

    .open .line-menu.start {
        transform: rotate(-90deg) translateX(3px);
    }

    .line-menu.end {
        align-self: flex-end;
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: left;
    }

    .open .line-menu.end {
        transform: rotate(-90deg) translateX(-3px);
    }
}